<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Document</title>

    <style>
        hr {
            border-width: 6px;
            width: 1200px;
            margin-left: 100px;
            margin-top: 10px;
        }

        .text1 {
            margin-left: 500px;
            margin-top: 40px;
        }

        .text2 {
            font-weight: bold;
        }

        .btn1 {
            margin-left: 800px;
            margin-top: 60px;
        }
    </style>
</head>

<body ng-app="chirpApp">
    <div ng-controller="authController">
        <div>
            <h4 style="padding-top:10px; font-style: italic; margin-left: 100px;">Sign in</h4>
        </div>
        <hr>
        <p  style="margin-left: 599px;font-size: 20px; " class="text-warning">{{error_message}}</p>
        <form action="" ng-submit="login()">
            
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label text1">
                    <input type="username" ng-model="user.username"  class="mdl-textfield__input">
                    <label class="mdl-textfield__label text2" for="sample3">Username...</label>
                </div>
           

           
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label text1">
                    <input type="password" ng-model="user.password"  class="mdl-textfield__input" >
                    <label class="mdl-textfield__label text2" for="sample3">Password...</label>
                </div>
          
            <div class="acnt">
                <div class="btn1">
                    <!-- Accent-colored raised button with ripple -->
                    <button type="submit"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Next
                    </button>
                </div>
                <div>
                    <a style="margin-left: 500px; color: blue; text-decoration:none;" href="registration.html">Create account</a>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    var app = angular.module('chirpApp', []);
app.controller('authController', function($scope){
  $scope.user = {username: '', password: ''};
  $scope.error_message = '';


  $scope.login = function(){
    //placeholder until authentication is implemented
    $scope.error_message = 'login request for ' + $scope.user.username;
  };
});
</script>

</html>