.page-content{
    max-width: 1040px;
    margin: auto;
}

.top-Section{
    margin: 10px;
    padding-bottom: 30px;
}

.mdl-layout__drawer-button{
    display: none
}

.form-panel{
    margin:auto;
    padding:0 100px;
    width: 500px;
    min-height: 620px;  
}

.mdl-textfield {
    width: 100%;
}

.text4 {
   margin-left: 80px;
   padding-top:10px;
}

/*Disable MDL validation styles*/

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: rgba(0, 0, 0, .26);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: rgb(63, 81, 181);
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: rgb(63, 81, 181);
}
/*Validation styles based on MDL*/

.ng-invalid.ng-invalid.ng-touched {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched + label {
    color: rgb(222, 50, 38);
    font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched + label:after {
    background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched ~ .mdl-tooltip--validation {
    background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus {
    border-color: rgb(255, 193, 7);
    box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus + label {
    color: rgb(255, 193, 7);
    font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus + label:after {
    background-color: rgb(255, 193, 7);
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus ~ .mdl-tooltip--validation {
    background-color: rgb(255, 193, 7);
}

.ng-invalid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    
    font-feature-settings: 'liga';
    content: "warning";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.ng-valid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    
    font-feature-settings: 'liga';
    content: "done";
    position: absolute;
    right: 0;
    bottom: 20px;
}
/*Basic styles*/

.list-unstyled {
    padding-left: 0;
    list-style: none;
}



@media screen and (max-width: 600px) {
    .mdl-layout__drawer-button{
        display: block
    }
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: blue;
}

.bl-link {
    display: inline;
    float: unset;
    line-height: 30px;
}

.status_chip{
    margin-bottom:10px;
    text-align: center;
}

.view_link{
    position: relative;
    bottom: 55px;
    float: right;
    left: 30px;
}

.user-name , .user-email {
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

.user-name{
    font-size: 14px;
    text-transform: uppercase;
}


.chart {
  width:600px !important;
  margin-left: 40px;
}

.graph {
    display: inline-flex;
}


.flex-wrapper{
    margin-top: 60px;
    margin-left: 90px;
}
  
  .single-chart {
    width: 90%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  .circular-chart.blue .circle {
    stroke: #2A8EF8;
  }
  


